@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap');
*{

  box-sizing: border-box;

}
body{

  font-family: 'Open Sans', sans-serif;
  margin: 0;
  color: hsl(192, 100%, 9%);
  font-size: 1.15em;
}

h1, 
h2{
  font-family: "Poppins", sans-serif;
}

p{
  opacity: 0.6;
}

.container{
  width: 1000px;
  max-width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.center{
  text-align: center;
}

.flex{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.flex > div, .flex > ul{
  flex: 1;
}

img{
  max-width: 100%;
}

header{
  background-image: url('images/bg-hero-desktop.svg');
  background-size: cover;
  background-position: center center;
  padding: 40px 0;
  background-color: hsl(193, 100%, 96%);
}

nav{
  justify-content: space-between;
  margin-bottom: 40px;
  align-items: center;
}

.header-img{
  width: 80%;
  margin-left: 20%;
}

.btn{
  padding: 15px 60px;
  border-radius: 50px;
  border: none;
  background-color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.btn-primary{
  background-color: hsl(322, 100%, 66%);
  color: #fff;
}

.box{
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 15px;
  margin: 40px 0;
  padding: 60px;
}

.small-box{
  display: inline-block;
  margin-bottom: -50%;
  z-index: 1;
  
}

.box img{
  width: 80%;
}

footer{
  background-color: hsl(192, 100%, 9%);
  color: #fff;
  padding: 180px 0 60px;
}

footer ul{
  list-style-type: none;
}

footer ul li{
  margin-bottom: 20px;
}

.align-start{
  align-items: flex-start;
}

footer .circle{
  width: 40px;
  height: 40px;
  display: inline-flex;
  color: white;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-right: 10px;
}


footer .social-media{
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p{
  text-align: right;
}

@media screen and (max-width: 600px){

  body{
    text-align: center;
  }
  
  nav.flex {
    flex-direction: row;
  }

  .flex{
    flex-direction: column;
  }

  .header-img{
    margin-top: 30px;
    width: 100%;
    margin-left: 0;
  }

  .box-mobile-reverse{

    flex-direction: column-reverse;
  }

  footer ul{
    width: 100%;
    padding: 0;
  }

  footer p{
    text-align: center;
  }
}