@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*{
  box-sizing: border-box;
}

:root{
  --strong-cyan: hsl(171, 66%, 44%);
  --light-blue: hsl(233, 100%, 69%);
  --dark-grayish-blue: hsl(210, 10%, 33%);
  --grayish-blue: hsl(201, 11%, 66%);
}

body{
  font-family: 'Bai Jamjuree', sans-serif;
  text-align: center;
  color: var(--dark-grayish-blue);
  margin: 0;
}

header{
  background-image: url('./images/bg-header-desktop.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0 20px;
}


.container{
  margin: 30px auto;
  max-width: 100%;
  width: 1200px;
  padding: 0 20px;
}

section{
  padding: 30px 0;
}

.container-small{
  width: 700px;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.m4{

  margin: 100px auto;

}
img{
  max-width: 100%;
}

p{
  line-height: 1.5;
  color: var(--grayish-blue);
}

.flex > *{
  flex: 1;
  padding: 10px;
}

.btn{

  padding: 15px 35px;
  border: none;
  color: #fff;
  border-radius: 50px;
  font-weight: 600;
  font-family: 'Bai Jamjuree', sans-serif;
  margin: 15px 5px;
  font-size: 16px;


}

.btn-primary{

  background-color: var(--strong-cyan);
  box-shadow: 0 5px hsl(171, 68%, 36%);

}

.btn-secondary{

  background-color: var(--light-blue);
  box-shadow: 0 5px hsl(233, 71%, 61%);

}

footer{
  background-color: hsl(0, 0%, 93%);
}

footer img{
  width: 60px;
}

footer ul{
  display: flex;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

footer .container{
  margin-bottom: 0;
}
footer ul a{
  color: var(--dark-grayish-blue);
  text-decoration: none;
}

footer .links{
  flex: 3;
}
footer .links li{
  margin-right: 40px;
  padding: 10px;
}

footer .social li{
  margin-right: 0 5px;
}

footer .social a{
  font-size: 24px;
  margin-right: 5px;
}

@media (max-width: 768px){

  .flex{
    flex-direction: column;
  }
  footer .links{

    flex-direction: column;

  }
  footer .links li{
    margin-right: 0px;
    padding: 10px;
  }
  

}